---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<div
		class="container mx-auto grid h-full grid-cols-1 md:grid-cols-blog gap-4 p-6"
	>
		<main class="border-solid border-2"></main>
		<aside class="border-solid border-2"></aside>
	</div>
</Layout>
