---
import Aside from "../components/Aside";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../pages/posts/*.mdx");
---

<Layout title="Blog hecho con ASTRO.">
	<div class="sm:grid sm:grid-cols-blog">
		<Aside client:visible />
		<div class="p-4">
			<div
				class="p-4 border-2 sm:h- border-gray-200 border-dashed rounded-lg"
			>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
					{
						posts &&
							posts.map((post, index) => {
								let { url, frontmatter } = post;
								let { title, description, imageSrc } =
									frontmatter;

								return (
									<Card
										style={`${
											index == 0 || index % 5 == 0
												? "col-span-full sm:min-h-36"
												: ""
										}`}
										href={url}
										title={title}
										description={description}
										imageSrc={imageSrc}
									/>
								);
							})
					}
				</div>
			</div>
		</div>
	</div>
</Layout>
